name: build & test
on:
  push:
jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - name: build
        shell: bash
        run: |
          make build
      - name: test
        shell: bash
        run: |
          make test
      - name: lint
        shell: bash
        run: |
          make lint
