name: build & test
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
      - name: build
        shell: bash
        run: |
          make build
      - name: test
        shell: bash
        run: |
          make test
      - name: lint
        shell: bash
        run: |
          make lint
      - name: staticcheck
        shell: bash
        run: |
          make staticcheck
      - name: vet
        shell: bash
        run: |
          make vet
      - name: fmt
        shell: bash
        run: |
          make fmt

